:root {
  --light-bg-gradient: linear-gradient(
    -45deg,
    #f0ebff,
    #e6f7ed,
    #ffffff,
    #edf7f0
  );
  --light-bg: rgba(255, 255, 255, 0.7);

  --light-primary: #996dff;
  --light-secondary: #04d361;
  --light-tertiary: #8257e5;
  --light-quaternary: #c2a9ff;
  --light-textPrimary: #121214;
  --light-textSecondary: #323238;
  --light-componentBackground: #ffffff;
  --light-border: #e2e8f0;

  --dark-bg-gradient: linear-gradient(
    -45deg,
    #121214,
    #1a1a1f,
    #202024,
    #1a1a1f
  );
  --dark-bg: rgba(18, 18, 20, 0.85);

  --dark-primary: #996dff;
  --dark-secondary: #04d361;
  --dark-tertiary: #8257e5;
  --dark-quaternary: #633bbc;
  --dark-textPrimary: #e1e1e6;
  --dark-textSecondary: #a8a8b3;
  --dark-componentBackground: #202024;
  --dark-border: #323238;
}
